.git
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.phpunit.cache
.phpunit.result.cache
