APP_NAME=ShelfVault
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="shelfvault@example.local"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

TMDB_API_KEY=
TMDB_BEARER_TOKEN=
TMDB_LANGUAGE=fr-FR
TMDB_REGION=FR
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
IGDB_ACCESS_TOKEN=
IGDB_BASE_URL=https://api.igdb.com/v4
IGDB_TOKEN_URL=https://id.twitch.tv/oauth2/token
IGDB_IMAGE_SIZE=cover_big
TRANSLATION_PROVIDER=
TRANSLATION_SOURCE_LOCALE=en
GOOGLE_TRANSLATE_API_KEY=
GOOGLE_TRANSLATE_BASE_URL=https://translation.googleapis.com/language/translate/v2
BGG_TOKEN=
OMDB_API_KEY=

SHELFVAULT_VERSION=0.1.0-beta.5
SHELFVAULT_UPDATE_MANIFEST_URL=
SHELFVAULT_UPDATE_DOWNLOAD_TIMEOUT=60

VITE_APP_NAME="${APP_NAME}"
